/*styling carousel*/
.slider-img {
  /*overflow: hidden;*/
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 50% 50%;

}
/* card styling*/
/*styling image*/
.card-img-top{
	height: 300px;
	padding: 10px;
}
/*styling card header*/
.card-title{
	color:red;
}
/* styling card description*/
.card-text{
	color: red;
}
/*removing padding from card body*/
.card-body{
	padding: 10px;
}
/* decreasing padding in card footer*/
.card-footer{
	padding: 10px;
}
/*styling the page heading*/
.work{
	color:rgb(49, 48, 48);
	font-size: 30px;
	text-align: center;

}
.contain{
	background-color:#fb4f29;
	width:100%;
	margin:0px;
	padding-top:64px;
	padding-left: 0px;
	padding-right: 0px;
	padding:50px;
}
.carousel-caption {
   position: center;
}
/*
header {
    position: fixed;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    padding: 0.5em;
    margin: 0;
    height: 6em;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
*/
/*styling navbar*/
.navbar{
  position: fixed;
  width: 100%;
}
.nav-item a.nav-link{
	width:150px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color:#e33c17!important;
	font-size: 20px;

}
.nav-item a.nav-link:hover{
 text-decoration: underline;
 color:#e33c17!important;

}
nav.bg-dark{
	background-color: black!important;
	opacity: 0.7;
}
/*styling the footer*/
.fa {
    padding:5px;
    font-size:25px;
    width: 35px;
    height:35px;
    text-align: center;
    text-decoration: none;
    margin: 0.3em 0.5em;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background-color: rgb(59, 89, 152);
  color: white;
}

.fa-google {
  background-color: rgb(221, 75, 57);
  color: white;
}

.fa-instagram {
  background-color: rgb(18, 86, 136);
  color: white;
}

.fa-youtube {
  background-color: rgb(187, 0, 0);
  color: white;
}
.foot{
    margin-top:0px;
    padding: 1em;
    background-color:black;
}

.foot .down{
    color: black;
    text-align: center;
    padding: 0.5em;
}